@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

body {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_1280.jpg);
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  color: rgb(253, 125, 5);
  background-color: whitesmoke;
}

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.button {
  display: block;
  background-color: orange;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color: rgb(13, 194, 240);
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  margin-left: 75px;
}
